<a href="https://colab.research.google.com/github/snghynn/ESAA-YB/blob/main/BOOK_DoitPandas_pg_241_242%2C256_263_datetime_0403.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12. 시계열 데이터
: 일정 시간 간격으로 어떤 값을 기록한 데이터


## 12-1. datetime 오브젝트

: date(날짜), time(시간), datetieme(날짜&시간)

In [ ]:
# 1. datetime 라이브러리 불러오기
from datetime import datetime

In [ ]:
# 2. 현재 시간 출력
now1=datetime.now()
print(now1)

2023-04-04 04:38:09.044522

In [ ]:
now2=datetime.today()
print(now2)

2023-04-04 04:38:09.061162

In [ ]:
# 3. datetime 오브젝트 생성 시 시간을 직접 입력하여 인자로 전달
t1=datetime.now()
t2=datetime(1970,1,1)
t3=datetime(1970,12,12,13,24,34)
print(t1)
print(t2)
print(t3)

2023-04-04 04:38:09.075079
1970-01-01 00:00:00
1970-12-12 13:24:34

In [ ]:
# 4. 시간 계산도 가능. 두 datetime 오브젝트의 차이
diff1=t1-t2
print(diff1)
print(type(diff1))

19451 days, 4:38:09.075079
<class 'datetime.timedelta'>

In [ ]:
diff2=t2-t1
print(diff2)
print(type(diff2))

-19452 days, 19:21:50.924921
<class 'datetime.timedelta'>

## [테슬라 주식 데이터로 시간 계산하기]

In [1]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [5]:
#1.
import pandas as pd
pd.core.common.is_list_like=pd.api.types.is_list_like
import pandas_datareader as pdr

tesla=pd.read_csv('tesla_stock_quandl.csv')

In [7]:
#2. Date는 문자열로 저장되어 있음. datetime로 자료형 변환해야 함함
print(tesla.head())

         Date    Open    High     Low   Close      Volume  ExDividend  \
0  2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
1  2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2  2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
3  2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
4  2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

   SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
0         1.0   304.00   304.27  277.18    279.18  13696168.0
1         1.0   307.34   307.59  291.36    304.18   8324639.0
2         1.0   311.25   311.61  300.45    301.54   6600538.0
3         1.0   313.89   318.82  308.18    309.10   4914307.0
4         1.0   310.25   322.44  310.19    316.53   5927881.0

In [8]:
#3. read_csv method로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열 전달
tesla=pd.read_csv('tesla_stock_quandl.csv', parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   float64
 6   ExDividend  1949 non-null   float64
 7   SplitRatio  1949 non-null   float64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.1 KB
None

In [9]:
#4. dt 접근자 사용 가능. 2010 6월의 데이터만 추출해보자
print(tesla.loc[(tesla.Date.dt.year==2010)&(tesla.Date.dt.month==6)])

           Date   Open     High    Low  Close      Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100.0         0.0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300.0         0.0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
1947         1.0    25.79  30.4192   23.30     23.83  17187100.0
1948         1.0    19.00  25.0000   17.54     23.89  18766300.0

### DatetimeIndex: datetime 오브젝트와 인덱스
- datetime을 인덱스로 설정 시 원하는 시간의 데이터를 바로 추출할 수 있음

[datetime 오브젝트를 인덱스로 설정해 데이터 추출하기]

In [10]:
#1. Date 열을 tesla 데이터프레임의 인덱스로 지정
tesla.index=tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

In [11]:
#2. datetime 오브젝트를 인덱스로 지정 시 원하는 시간의 데이터를 바로 추출 가능
print(tesla['2015'].iloc[:5],5)

                 Date    Open     High       Low   Close     Volume  \
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01  2715038.0
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09  3697921.0
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19  2406290.0
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95  1901304.0
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57   710277.0

            ExDividend  SplitRatio  AdjOpen  AdjHigh    AdjLow  AdjClose  \
Date
2015-12-31         0.0         1.0   238.51  243.450  238.3700    240.01
2015-12-30         0.0         1.0   236.60  243.634  235.6707    238.09
2015-12-29         0.0         1.0   230.06  237.720  229.5470    237.19
2015-12-28         0.0         1.0   231.49  231.980  225.5400    228.95
2015-12-24         0.0         1.0   230.56  231.880  228.2800    230.57

            AdjVolume
Date
2015-12-31  2715038.0
2015-12-30  3697921.0
2015-12-29  2406290.0
2015-12-28  1901304.0
2015-12-24   710277.0   5

<ipython-input-11-a0bf94b4e3b2>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5],5)

In [12]:
#3. 2010 6d월의 데이터 추출
print(tesla['2010-06'].iloc[:,:5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-12-063393b7a301>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:,:5])

### TimedeltaIndex: 시간 간격과 인덱스
- 시간 간격을 인덱스로 지정하여 데이터 추출

[ 시간 간격을 인덱스로 지정해 데이터 추출하기]

In [13]:
#1. Date열에서 Date열의 최솟값을 뺀 다음 ref_date열로 추가하기
tesla['ref_date']=tesla['Date']-tesla['Date'].min()
print(tesla.head())

                 Date    Open    High     Low   Close      Volume  ExDividend  \
Date
2018-03-27 2018-03-27  304.00  304.27  277.18  279.18  13696168.0         0.0
2018-03-26 2018-03-26  307.34  307.59  291.36  304.18   8324639.0         0.0
2018-03-23 2018-03-23  311.25  311.61  300.45  301.54   6600538.0         0.0
2018-03-22 2018-03-22  313.89  318.82  308.18  309.10   4914307.0         0.0
2018-03-21 2018-03-21  310.25  322.44  310.19  316.53   5927881.0         0.0

            SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume  \
Date
2018-03-27         1.0   304.00   304.27  277.18    279.18  13696168.0
2018-03-26         1.0   307.34   307.59  291.36    304.18   8324639.0
2018-03-23         1.0   311.25   311.61  300.45    301.54   6600538.0
2018-03-22         1.0   313.89   318.82  308.18    309.10   4914307.0
2018-03-21         1.0   310.25   322.44  310.19    316.53   5927881.0

            ref_date
Date
2018-03-27 2828 days
2018-03-26 2827 days
2018-03-23 2824 days
2018-03-22 2823 days
2018-03-21 2822 days

In [14]:
#2. 이제 ref_date열이 인덱스로 지정됨. 이제 ref_date를 이용해 데이터 추출 가능
tesla.index=tesla['ref_date']
print(tesla.iloc[:5,:5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

In [15]:
#3. 데이터를 수집한 이후 최초 5일의 데이터 추출
print(tesla['5 days':].iloc[:5,:5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

### 시간 범위와 인덱스
- 누락된 데이터 존재시 임의로 시간 범위 생성하여 인덱스로 지정해야 함

[시간 범위 생성해 인덱스로 지정하기]

: 테슬라에는 누락된 데이터가 없어, 에볼라 데이터 집합 사용

In [16]:
#1. 2015년 1월 1일의 데이터가 누락됨됨
ebola=pd.read_csv('country_timeseries.csv', parse_dates=[0])
print(ebola.iloc[:5,:5])

        Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0 2015-01-05  289        2776.0            NaN            10030.0
1 2015-01-04  288        2775.0            NaN             9780.0
2 2015-01-03  287        2769.0         8166.0             9722.0
3 2015-01-02  286           NaN         8157.0                NaN
4 2014-12-31  284        2730.0         8115.0             9633.0

In [17]:
#2. 2014년 3월 23일의 데이터가 누락됨
print(ebola.iloc[-5:,:5])

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117 2014-03-27    5         103.0            8.0                6.0
118 2014-03-26    4          86.0            NaN                NaN
119 2014-03-25    3          86.0            NaN                NaN
120 2014-03-24    2          86.0            NaN                NaN
121 2014-03-22    0          49.0            NaN                NaN

In [20]:
#3. date_range: 2014.12.31~2015.01.05 사이의 시간 인덱스 생성
head_range=pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

In [22]:
#4. 원본 데이터 손상 방지를 위해 ebola 데이터프레임 앞쪽 5개 데이터 추출해 새로운 데이터프레임
ebola_5=ebola.head() #ebola의 앞쪽 5개를 추출해 데이터 프레임 만듦듦
ebola_5.index=ebola_5['Date'] #Date열을 인덱스로 지정
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                 Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
2015-01-05 2015-01-05  289        2776.0            NaN            10030.0
2015-01-04 2015-01-04  288        2775.0            NaN             9780.0
2015-01-03 2015-01-03  287        2769.0         8166.0             9722.0
2015-01-02 2015-01-02  286           NaN         8157.0                NaN
2014-12-31 2014-12-31  284        2730.0         8115.0             9633.0